body {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  .title,
  .posts-by {
    padding-left: 1.5rem;
  }
  .posts-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;

    .post-card {
      padding: 0.5rem;
      border: 1px solid gray;
      border-radius: 0.5rem;
      flex-basis: 30%;
      /* flex-grow: 1; */
      .post-title {
        font-size: 1rem;
      }
      min-width: 350px;
      figure {
        border: thin #c0c0c0 solid;
        display: flex;
        flex-flow: column;
        padding: 5px;
        max-width: 400px;
        margin: auto;
        figcaption {
          background-color: #222;
          color: #fff;
          font: italic smaller sans-serif;
          padding: 3px;
          text-align: center;
        }
        .post-image {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
