h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

.bold-text {
  font-weight: bolder;
}

body {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  .container {
    height: calc(100vh - 2rem);
    display: grid;
    grid-template-areas:
      "header"
      "left-side-bar"
      "main"
      "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 70px 75px auto 50px;

    grid-row-gap: 1rem;
    grid-column-gap: 1rem;

    .header {
      grid-area: header;
      border: 1px solid gray;
      border-radius: 0.5rem;
      padding: 1rem;
      box-shadow: -5px 7px 3px 3px darkcyan;
      color: darkcyan;
      text-align: center;
    }
    .left-side-bar {
      grid-area: left-side-bar;
      padding: 0.5rem;
      border: 1px solid gray;
      border-radius: 0.5rem;
      overflow-x: scroll;
      nav {
        ul {
          display: flex;
          justify-content: flex-start;
          gap: 1rem;
          list-style: none;
          li {
            border-radius: 10px;
            text-wrap: nowrap;
            a {
              padding: 10px 8px;
              /* text-decoration: none; */
              color: darkcyan;
              width: 100%;
              display: inline-block;
              font-weight: bold;
            }
          }
          li:hover {
            background-color: darkcyan;
            transition: all 0.5s;
            a {
              color: white;
              /* text-decoration: none; */
            }
          }
        }
      }
    }
    .main-content {
      overflow-y: scroll;
      grid-area: main;
      border: 1px solid gray;
      border-radius: 0.5rem;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      .main-content-title {
        align-self: flex-start;
      }
      .user-cards-container {
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;

        .user-card {
          border: 1px solid gray;
          border-radius: 0.5rem;
          padding: 0.5rem;
          width: 250px;
          height: 200px;
          display: flex;
          flex-direction: column;
          box-shadow: -5px 5px 5px 0px gray;

          .card-title {
            text-align: center;
            background-color: darkcyan;
            padding: 0.5rem;
            margin-bottom: 8px;
            border-radius: 0.5rem 0.5rem 0px 0px;
            color: white;
          }
          #card-body {
            font-size: 1rem;
            p {
              padding-top: 5px;
            }
            #userDetailsLink {
              display: inline-block;
              margin-top: 1rem;
              color: darkcyan;
              font-weight: bold;
            }
          }
        }
        .user-card:hover {
          transform: scale(1.02);
          transition: all 0.5s;
        }
      }
    }
    .footer {
      grid-area: footer;
      border: 1px solid gray;
      border-radius: 0.5rem;
    }
  }
}

@media screen and (min-width: 900px) {
  body {
    .container {
      grid-template-areas:
        "header header"
        "left-side-bar main"
        "footer footer";
      grid-template-columns: 250px auto;
      grid-template-rows: 70px auto 50px;
      .left-side-bar {
        padding: 1rem;
        overflow: auto;
        nav {
          ul {
            display: block;
          }
        }
      }
    }
  }
}
